*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
background-color: thistle;
align-content: center;
}
.A{
  color: darkgreen;
  font-size: 70px
  justify-content:center;
}



* {
  margin: 0;
}

@media all and (max-width: 900) {

}

@media all and (max-width: 700) {

}
